In [272]:
import numpy as np
import pandas as pd
from scipy import stats

data = pd.read_excel("assignment6.xlsx")
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [286]:
def calculate_distance(data, predict_data):
    train_data = data.drop("species", axis=1)
    train_data = train_data.values
    return np.linalg.norm(train_data - predict_data, axis=1)

In [274]:
def find_k_nearest_neighbors(k, distances):
    nearest_neighbor_ids = distances.argsort()[:k]
    predict_label = data["species"]
    predict_label = predict_label.values
    return predict_label[nearest_neighbor_ids]

In [287]:
def predict_label_species(k, data, predict_data):
    distances = calculate_distance(data, predict_data)
    nearest_neighbors_species = find_k_nearest_neighbors(k, distances)
    required_specie = stats.mode(nearest_neighbor_species)
    return required_specie[0][0]

In [288]:
predict_data = np.array([
    8.2, 2.6, 3.2, 1.8
])
k = 7
predicted_label = predict_label_species(k, data, predict_data)

In [283]:
print (predicted_label)

versicolor