In [127]:
import pandas as pd
import numpy as np
import operator

In [128]:
# Load the data
raw_data = pd.read_excel('assignment6.xlsx', sheet_name='Sheet1')
raw_data

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [129]:
# Function for calculating the Euclidean Distance
def euclidean_distance(point1, point2):
    distance = 0
    for x in range(point1.shape[1]):
        distance += np.square(point1[x] - point2[x])
    return np.sqrt(distance)

In [130]:
# Implementing the KNN Algorithm
def knn_algorithm(raw_data, testing_data, k):
    
    # Calculate the Euclidean distnace 
    distances = {}
    for x in range(len(raw_data)):
        eu_distance = euclidean_distance(testing_data, raw_data.iloc[x])
        distances[x] = eu_distance[0]
    sorted_distance = sorted(distances.items(), key=operator.itemgetter(1))
    
    # Determine the Neihbours
    neighbors = []
    for x in range(k):
        neighbors.append(sorted_distance[x][0])
    
    # Determine the most frequent species of data
    counter = {}  
    for x in range(len(neighbors)):
        response = raw_data.iloc[neighbors[x]][-1]
        if response in counter:
            counter[response] += 1
        else:
            counter[response] = 1
            
    sorted_counter = sorted(counter.items(), key=operator.itemgetter(1), reverse=True)
    return (sorted_counter[0][0])

In [131]:
# Creating test data, using the given table data
table_data = [[8.2, 2.6, 3.2, 1.8]]
testing_data = pd.DataFrame(table_data)

In [132]:
# To predict the label for the data in the table below, when you choose K=3 and K=5 and K=7
for k in [3,5,7]:
    prediction = knn_algorithm(raw_data,testing_data, k)
    print("For K={}, the predicted label for Species ={}".format(k,prediction))

For K=3, the predicted label for Species =versicolor
For K=5, the predicted label for Species =versicolor
For K=7, the predicted label for Species =versicolor