In [1]:
import pandas as pd
import numpy as np
import operator

In [2]:
data =[[5.3,67,22,'high'],[5.7,76,27,'high'],[5.11,58,26,'high'],[5.1,62,21,'low'],[4.2,67,23,'low'],[5.6,89,24,'high']]
raw_data = pd.DataFrame(data, columns = ['Height', 'Weight','Age','Income'])
raw_data

   Height  Weight  Age Income
0    5.30      67   22   high
1    5.70      76   27   high
2    5.11      58   26   high
3    5.10      62   21    low
4    4.20      67   23    low
5    5.60      89   24   high

In [3]:
# Function for calculating the Euclidean Distance
def euclidean_distance(point1, point2):
    distance = 0
    for x in range(point1.shape[1]):
        distance += np.square(point1[x] - point2[x])
    return np.sqrt(distance)

In [4]:
# Implementing the KNN Algorithm
def knn_algorithm(raw_data, testing_data, k):
    
    # Calculate the Euclidean distnace 
    distances = {}
    for x in range(len(raw_data)):
        eu_distance = euclidean_distance(testing_data, raw_data.iloc[x])
        distances[x] = eu_distance[0]
    sorted_distance = sorted(distances.items(), key=operator.itemgetter(1))
    
    # Determine the Neihbours
    neighbors = []
    for x in range(k):
        neighbors.append(sorted_distance[x][0])
    
    # Determine the most frequent species of data
    counter = {}  
    for x in range(len(neighbors)):
        response = raw_data.iloc[neighbors[x]][-1]
        if response in counter:
            counter[response] += 1
        else:
            counter[response] = 1
            
    sorted_counter = sorted(counter.items(), key=operator.itemgetter(1), reverse=True)
    return (sorted_counter[0][0])

In [5]:
# Creating test data, using the given table data
table_data = [[5.8,80,27]]
testing_data = pd.DataFrame(table_data)