In [1]:
import pandas as pd

In [12]:
twitter_data = pd.read_fwf("onlyhash.data",header=None,sep="  ")
twitter_data

                                                      0
0                       webcom09\t2008-11-11\t#webcom08
1                         kirsn\t2008-11-11\t#cassandra
2                       mediahatch\t2008-11-11\t#pubcon
3                        Give_Respect\t2008-11-11\t#107
4                         Nathan_Safran\t2008-11-11\t#2
...                                                 ...
926502       notfortourists\t2009-10-13\t#traveltuesday
926503              SOME_DC\t2009-10-13\t#thanksgiving:
926504               JulieBauke\t2009-10-13\t#jobsearch
926505  Twitt_er_Bloke\t2009-10-13\t#animation #toystor
926506                   BenWard\t2009-10-13\t#yshuttle

[926507 rows x 1 columns]